@model ChangePasswordModel
<p>THAY ĐÔI MẬT KHẨU</p>
<div class="row col-12">
    @if (ViewBag.IsSuccess == true)
    {
        <script>
            $(function () {
                toastr.success("Cập nhật thành công!");
            })
        </script>
    }
    <form method="post" id="changepasswordform">

        <!--Form Edit-->

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword"class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmNewPassword" class="control-label"></label>
            <input asp-for="ConfirmNewPassword" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>

        <!--Button-->

        <div class="form-group row">
            <div class="col-3">
                <button id="btnsubmit" class="btn btn-primary form-control" type="submit">
                    Xác nhận
                </button>
            </div>
            <div class="col-3">
                <a asp-action="Index" asp-controller="Home" class="btn btn-success form-control">Quay lại trang chủ
                </a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
