@model ForgotPasswordModel

<div class="row">
    <div class="col-md-12">
            @if(Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>Chúng tôi đã gửi mã đến email của bạn! Hãy kiểm tra hòm thư!
                        <br/>
                        Nếu không nhận được, hãy kiểm tra lại địa chỉ Email bạn đã đăng ký hoặc hòm thư rác!
                    </p>
                </div>
            }
            else
            {
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                     <!--Button-->
                    <div class="form-group row">
                        <div class="col-3 offset-3">
                            <button class="btn btn-primary form-control" type="submit">
                                Gửi mã
                            </button>
                        </div>
                    </div>
                </form>
            }
            <div class="col-3">
                <a asp-action="Login" asp-controller="Account" class="btn btn-success form-control">Đăng nhập
                </a>
            </div>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}