@model PostSavedViewModel
<div class="row">
    @*Menu*@
    <div class="col-2 p-0 ml-0">
        @await Component.InvokeAsync("MenuTopic")
    </div>

    @*Newsfeed*@
    <div class ="col-10 pl-5">

        @if(Model.TotalAmount > 0)
        {
            <div class="container ml-5 mt-3">
                <div class="table">
                    <div class="row">
                            <a onclick=Clear("/PostSaved/Clear") class="text-white nav-link bg-danger rounded" style="cursor:pointer">
                                Xóa tất cả
                            </a>
                            &nbsp;
                            <div class="bg-success rounded col-3 text-white d-flex p-0 align-items-center justify-content-center">
                                <label class=" m-0">Số lượng bài viết đã lưu: @Model.TotalAmount</label>
                            </div>
           
                    </div>
                    <br/>
                    <div class="column">
                        @foreach(var item in Model.PostSavedItems)
                        {
                            <div class="card">
                                <div class="card-body">
                                    <div class="btn-block">
                                        <p class="card-text">@item.Time</p>
                                        <p class="card-title">@item.Title</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="container pl-5">

                <p>Bạn chưa saved bài viết nào!</p>

                <a asp-controller="PostNewFeed" asp-action="Index" class="btn-primary nav-link">Truy cập bảng tin</a>
            </div>
        }
    </div>
</div>