 <!--Thống kê-->
<div class="container">
    <div class="row p-3 d-flex justify-content-center align-baseline">
        <div class="col-6 d-flex justify-content-center  align-baseline">
        <div class="w-100 h-50">
        <i class="fa-solid fa-eye fa-2xl ic-view">
        </i>
            <label class="text-light text-sm h-100">@ViewBag.TotalView bài</label>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center  align-baseline">
        <div class="w-100 h-50">
            <i class="fa-solid fa-circle-check ic-accepted fa-2xl">
            </i>
            <label class="text-light text-sm h-100">@ViewBag.TotalAccept bài</label>
        </div>
        </div>

    </div>
    <div class="row p-3 d-flex justify-content-center mt-2">
        <div class="col-6 d-flex justify-content-center  align-baseline">
        <div class="w-100 h-50">
        <i class="fa-solid fa-circle-xmark ic-error fa-2xl"></i>
            <label class="text-light text-sm h-100">@ViewBag.TotalErrorr bài</label>
        </div>
        </div>
        <div class="col-6 d-flex justify-content-center  align-baseline">
        <div class="w-100 h-50">
            <i class="fa-solid fa-circle-exclamation ic-warning fa-2xl"></i>
            <label class="text-light text-sm h-100">@ViewBag.TotalWarning bài</label>
        </div>
        </div>
    </div>
</div>