@model IEnumerable<SubjectArtical>

<div class = "d-flex flex-wrap flex-column p-0 mt-3" style="width:15rem">
    <ul class="list-group-horizontal-sm">
        <li class="list-group-item table-hover">
            <a class = "nav-link" asp-controller="PostSaved" asp-action="Index">Bài viết đã lưu</a>
        </li>
        <li class="list-group-item table-hover">
            <div>
                @{
                    //change color when on page
                    var picked = @ViewBag.PostTopicId == null ?  "text-primary" : "text-secondary";

                    <a class = "@picked nav-link" asp-controller="PostNewFeed" asp-action="Index">
                    
                        <img class="ic-nav" src="~/ic/Topic/ic_hot.png"/>
                        
                        Tất cả bài viết
                    
                    </a>
                }  
            </div>
        </li>

    @foreach(var item in Model)
    {

        var pickTopic = item.Id == ViewBag.PostTopicId ? "text-primary" : "text-secondary";
     
        <li class="list-group-item table-hover">
                <a asp-controller="PostNewFeed" asp-action="Index" asp-route-IdTopic="@item.Id" 
                    class="@pickTopic nav-link">
                    
                    <img class="ic-nav" src="~/ic/Topic/@item.Icon"/>
             
                    @item.Name
                
                </a>
        </li>
    }
    </ul>
</div>
