@model User

<h4>Đăng ký</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <span asp-validation-for="UserName" class="text-danger"></span>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="Password" class="form-control" type="password"/>
            </div>

             <!--Button-->
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button class="btn btn-primary form-control" type="submit">
                        Đăng ký
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
