<a class="nav-link text-dark" asp-area="admin" asp-controller="PostNewFeeds" asp-action="index">Bảng tin</a>
<a class="nav-link text-dark" asp-area="admin" asp-controller="ArticalCredit" asp-action="index">Liên kết</a>
<a class="nav-link text-dark" asp-area="admin" asp-controller="SubjectArtical" asp-action="index">Chủ đề bài viết</a>

