@model StudentClassViewModel

<ejs-sidebar id="sidebar" width="280px">
	<e-content-template>
           @await Component.InvokeAsync("ResultStudent")
          <div class="col-md-4">
            <ejs-grid id="Grid" dataSource="@Model.Students" allowSorting="true" enableStickyHeader="false">
              <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
                    <e-grid-columns>
                        <e-grid-column field="StudentName" headerText="" textAlign="Center" width="120"></e-grid-column>
                    </e-grid-columns>
            </ejs-grid>
        </div>
	</e-content-template>
</ejs-sidebar>
<div class="main-content">
    
          <h3>Lớp: @Model.RoomName</h3>
                <!--Bài tập-->
                <section class="lib-section-1">
                    <div class="box justify-content-lg-start mt-3 ml-3">

                        <!--Tiêu đề-->
                        <div class="d-flex flex-wrap align-baseline">
                             <img class="ic-lg" src="../ic/ic_lesson.png" />
                            <label class="text-title flex-grow-2">Bài tập</label>
                        </div>

                        <!--Thẻ bài học Bài tập-->
                        <a asp-page="/ClassRoomExercise" style="color: black;">
                            <div class="cards">
                                <div class="d-flex flex-row">
                                    <div class="card rounded shadow">
                                        <div class="card-body p-3">
                                            <div class="card-name d-flex flex-row align-items-baseline m-0">
                                                <img src="../ic/star2.png" class="card-ic ic-type-binding"/>
                                                <label class="card-text-primary ml-1">Tổng A B (SumAB)</label>
                                            </div>
                                            <div class="card-tag">
                                                <div class="float-left">
                                                    <div class="d-flex flex-wrap justify-content-start">
                                                        <a href="#" class="tag"><p class="text-tag">VIE</p></a>
                                                    </div>
                                                </div>
                                               <i class="fa-solid fa-eye ic-view float-right"></i>
                                            </div>                                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </section>

                <!--BÀI HỌC-->
                <section class="lib-section-2">
                    <div class="box justify-content-lg-start mt-3 ml-3">

                        <!--Tiêu đề-->
                        <div class="d-flex flex-wrap align-baseline">
                            <img class="ic-lg" src="../ic/ic_lesson.png" />
                            <label class="text-title flex-grow-2">Bài học</label>
                        </div>
                        <!--Thẻ bài học-->
                        <div class="cards">
                            <div class="d-flex flex-row">
                                <div class="card rounded shadow">
                                    <div class="card-body p-3">
                                        <div class="card-name d-flex flex-row align-items-baseline m-0">
                                            <img src="../img/star2.png" class="card-ic ic-type-binding"/>
                                            <label class="card-text-primary ml-1">Độ phức tạp thuật toán</label>
                                        </div>
                                        <div class="card-tag">
                                            <div class="float-left">
                                                <div class="d-flex flex-wrap justify-content-start">
                                                    <a href="#" class="tag"><p class="text-tag">VIE</p></a>
                                                </div>
                                            </div>
                                           <i class="fa-solid fa-eye ic-view float-right"></i>
                                        </div>                                
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>

            </div>

<style>
    #sidebar {
    background-color: #23233C;
    color: #ffffff;
    padding-top:6rem;
    z-index: -1!important;
   overflow: hidden;
}
body{
   overflow: hidden;
}
.ic-warning {
    color: #FFB632!important;
}
.ic-accepted {
    color: #82D361!important;
}
.ic-view {
    color: #C4C4C4!important;
} 
.ic-error {
   color: #FC4755!important;
}
.text-sm{
      font-size:medium;
     font-weight:lighter;
 }
.text-title{
  font-weight: bolder;
  color: #000;
  font-size: 20px;
}
.ic-lg {
    width: 28px;
    height: 28px;
}
.textnav-titile
{
    color: white;
    font-size: 30px;
    font-weight: 400;
}
.text-tag
{
    font-size: 9px;
  font-weight: lighter;
  color: white;
  margin: 0px 10px;
}
.tag{
  background-color: #82d361;
  border-radius: 90px;
  text-decoration: none;
}
.main-content{
    width: 80%;
    height: 100%;
    overflow-y: scroll;
    padding: 5px 24px;
    float: right;
}
</style>