@model PostNewFeed
<!--Froala editor-->
<link href="~/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/js/froala_editor.pkgd.min.js"></script>

<br/>
<h2 class="test-info">@(ViewBag.Id!=0 ? "Chỉnh sửa" : "Tạo") Bài viết</h2>
<br/>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubjectId" class="control-label"></label>
                <select asp-for="SubjectId" asp-items="@ViewBag.SubjectId" class="form-control">
                    <option value="0">Chọn môn học</option>
                </select>
                <span asp-validation-for="SubjectId" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea id="MyEditor" asp-for="Content" class="form-control">
                </textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgUpload" class="control-label"></label>
                <input asp-for="ImgUpload" class="form-control" />
                <img src="" id="imgpreview" alt=""/>
                <span asp-validation-for="ImgUpload" class="text-danger"></span>
            </div>
             <!--Button-->
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <button class="btn btn-primary form-control" type="submit">
                        @(ViewBag.Id!=0 ? "Update" : "Create") 
                    </button>
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Back
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
   
    <script src="~/lib/jqueryui/jquery-ui.js"></script>
    <partial name="_ValidationScriptsPartial"/>
   
    <script>
            var editor = new FroalaEditor('#MyEditor');
    </script>

    <script>
        $("#imgpreview").change(function () {
            readURL(this);
        });
    </script>
}